@import "tailwindcss";

@font-face {
  font-family: SORA;
  src: url(../fonts/Sora-Regular.ttf);
  font-display: swap;
}
@theme {
  --font-sora: "SORA";
  --breakpoint-900d: 900px;
  --breakpoint-850d: 850px;
  --breakpoint-800d: 800px;
  --breakpoint-500d: 500px;
  --breakpoint-550d: 550px;
  --breakpoint-450d: 450px;
  --breakpoint-410d: 410px;
  --breakpoint-360d: 360px;
}
.adlam{
  font-family: "ADLaM Display", serif;
}
/* Nav */
.input_Text, .open_menu, .close_menu{
  display: none;
}
/* Background Image */
.trending-bg{
  background-image: url(../images/cute-pet-mid.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 50%;
}
.low_price_bg{
  background-image: url(../images/cute-pet-mid.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.low_price_bg_1{
  background-image: url(../images/cute-dog-mid.png);
  background-repeat: no-repeat;
  background-position: right top;
}
@media screen and (max-width: 900px){
  header{
    border-bottom: 1px solid #e6e2e2;
    position: sticky;
    top: 0;
  }
  #nav_section{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #FFF9F4;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e6e2e2;
    padding: 20px;
    z-index: 900;
  }
  .open_menu{
    display: block;
  }
  #check:checked ~ .label_text .open_menu{
    display: none;
  }
  #check:checked ~ .label_text .close_menu{
    display: block;
  }
  #check:checked ~ #nav_section{
    top: 70px;
  }
}
@media screen and (max-width: 800px){
  .trending-bg{
    background-size: 30%;
  }
}
@media screen and (max-width: 640px){
  #trending_last_card{
    display: none;
  }
  .low_price_bg_1{
    background-size: 60%;
    background-position: right bottom;
    padding-top: 40px;
  }
}
@media screen and (max-width: 550px){
  .trending-bg{
    background-size: 38%;
  }
}
@media screen and (max-width: 450px){
  .trending-bg{
    background-size: 45%;
  }
  .low_price_bg{
    background-size: 80%;
  }
}