@import "tailwindcss";

@font-face {
  font-family: SORA;
  src: url(../fonts/Sora-Regular.ttf);
  font-display: swap;
}
@theme {
  --font-sora: "SORA";
  --breakpoint-900d: 900px;
  --breakpoint-850d: 850px;
  --breakpoint-800d: 800px;
  --breakpoint-500d: 500px;
  --breakpoint-450d: 450px;
  --breakpoint-410d: 410px;
  --breakpoint-360d: 360px;
}
.adlam{
  font-family: "ADLaM Display", serif;
}
/* Nav */
.input_Text, .open_menu, .close_menu{
  display: none;
}
@media screen and (max-width: 900px){
  header{
    border-bottom: 1px solid #e6e2e2;
  }
  #nav_section{
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #FFF9F4;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e6e2e2;
    padding: 20px;
    z-index: 900;
  }
  .open_menu{
    display: block;
  }
  #check:checked ~ .label_text .open_menu{
    display: none;
  }
  #check:checked ~ .label_text .close_menu{
    display: block;
  }
  #check:checked ~ #nav_section{
    top: 70px;
  }
}